on: [push, pull_request]
name: main

jobs:
  BuildTestPublish:
    name: "Build, Test, and Publish"
    runs-on: ubuntu-latest
    steps:
    - name: Setup Python
      uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c # v4
      with:
        python-version: '3.8'

    - name: Clone tree
      uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0

    - name: Install dependencies
      run: python3 -m pip install -U pip pylint

    - name: Run pre-commit
      uses: pre-commit/action@646c83fcd040023954eafda54b4db0192ce70507 # v3.0.0

    - name: Install
      run: python3 -m pip install --user .[docs]

    - name: Test
      run: pushd tests; python3 -m unittest discover -v

    - name: Build docs
      run: make -C docs html

    - name: Build sdist
      run: python setup.py sdist

    - name: Publish package
      uses: pypa/gh-action-pypi-publish@release/v1
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
