on: [push, pull_request]
name: main

jobs:
  BuildTestPublish:
    name: "Build, Test, and Publish"
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - name: Clone tree
      uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0

    - name: Install uv
      uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v6
      with:
        python-version: "3.14"
        activate-environment: true

    - name: Install dependencies
      run: uv pip install setuptools pylint pip

    - name: Run pre-commit
      uses: pre-commit/action@646c83fcd040023954eafda54b4db0192ce70507 # v3.0.0

    - name: Install
      run: uv sync -v -p 3.14 --all-groups

    - name: Test
      id: test
      run: |
        set +e
        pytest -vv \
          --junitxml=junit.xml -o junit_family=legacy \
          --cov-report=xml
        status=$?
        if [[ $status -gt 1 ]]; then
          exit $status
        fi
        echo "result=$status" >> "$GITHUB_OUTPUT"

    - name: Upload test coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        use_oidc: true
        fail_ci_if_error: true
        verbose: true
        files: ./coverage.xml

    - name: Upload test results to Codecov
      uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f # v1
      with:
        use_oidc: true
        fail_ci_if_error: true
        verbose: true
        files: ./junit.xml

    - name: Fail if testing failed
      if: steps.test.outputs.result != '0'
      run: exit 1

    - name: Build docs
      run: make -C docs html

    - name: Build
      run: uv build

    - name: Publish package
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
