on: [push, pull_request]
name: main

jobs:

  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    steps:
    - name: Clone tree
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Install uv
      uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v6
      with:
        python-version: "3.14"
    - name: Install
      run: uv sync -v -p 3.14 --all-groups
    - name: Run pylint
      run: |
        . .venv/bin/activate
        pylint xbe tests

  test:
    name: "Test"
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - name: Clone tree
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Install uv
      uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v6
      with:
        python-version: "3.14"
        activate-environment: true
    - name: Install
      run: uv sync -v -p 3.14 --all-groups
    - name: Test
      id: test
      run: |
        pytest -vv \
          --junitxml=junit.xml -o junit_family=legacy \
          --cov-report=xml
    - name: Upload test coverage to Codecov
      uses: codecov/codecov-action@v5
      if: ${{ !cancelled() }}
      with:
        use_oidc: true
        fail_ci_if_error: true
        verbose: true
        files: ./coverage.xml
    - name: Upload test results to Codecov
      uses: codecov/codecov-action@v5
      if: ${{ !cancelled() }}
      with:
        use_oidc: true
        fail_ci_if_error: true
        verbose: true
        files: ./junit.xml
        report_type: test_results

  release:
    name: "Release"
    runs-on: ubuntu-latest
    needs: [lint, test]
    steps:
    - name: Clone tree
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Install uv
      uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v6
      with:
        python-version: "3.14"
        activate-environment: true
    - name: Build
      run: uv build
    - name: Publish package
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
