on: [push, pull_request]
name: main

jobs:

  precommit:
    name: "Run pre-commit checks"
    runs-on: ubuntu-latest
    steps:
    - name: Clone tree
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Install uv
      uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v6
      with:
        python-version: "3.14"
        activate-environment: true
    - name: Install dependencies
      run: uv pip install setuptools pylint pip
    - name: Run pre-commit
      uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1

  docs:
    name: "Build docs"
    runs-on: ubuntu-latest
    steps:
    - name: Clone tree
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Install uv
      uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v6
      with:
        python-version: "3.14"
        activate-environment: true
    - name: Install
      run: uv sync -v -p 3.14 --all-groups
    - name: Build docs
      run: make -C docs html

  test:
    name: "Test"
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - name: Clone tree
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Install uv
      uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v6
      with:
        python-version: "3.14"
        activate-environment: true
    - name: Install
      run: uv sync -v -p 3.14 --all-groups
    - name: Test
      id: test
      run: |
        pytest -vv \
          --junitxml=junit.xml -o junit_family=legacy \
          --cov-report=xml
    - name: Upload test coverage to Codecov
      uses: codecov/codecov-action@v5
      if: ${{ !cancelled() }}
      with:
        use_oidc: true
        fail_ci_if_error: true
        verbose: true
        files: ./coverage.xml
    - name: Upload test results to Codecov
      uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f # v1
      if: ${{ !cancelled() }}
      with:
        use_oidc: true
        fail_ci_if_error: true
        verbose: true
        files: ./junit.xml

  release:
    name: "Release"
    runs-on: ubuntu-latest
    needs: [precommit, docs, test]
    steps:
    - name: Clone tree
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Install uv
      uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v6
      with:
        python-version: "3.14"
        activate-environment: true
    - name: Build
      run: uv build
    - name: Publish package
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
