on: [push, pull_request]
name: main

jobs:
  BuildTestPublish:
    name: "Build, Test, and Publish"
    runs-on: ubuntu-latest
    steps:
    - name: Clone tree
      uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0

    - name: Install uv
      uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v6
      with:
        python-version: "3.14"
        activate-environment: true

    - name: Install dependencies
      run: uv pip install setuptools pylint pip

    - name: Run pre-commit
      uses: pre-commit/action@646c83fcd040023954eafda54b4db0192ce70507 # v3.0.0

    - name: Install
      run: uv sync -v -p 3.14 --all-groups

    - name: Test
      run: pytest

    - name: Build docs
      run: make -C docs html

    - name: Build
      run: uv build

    - name: Publish package
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
