name: Tests

on: [push, pull_request]

jobs:
  Ubuntu:
    runs-on: ubuntu-latest
    steps:
    - name: Clone Tree
      uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: Install Dependencies
      run: |
        python3 -m pip install -U pip setuptools

    - name: Install
      run: |
        python3 -m pip install --user .

    - name: Run Tests
      run: |
        pushd tests
        python3 -m unittest discover -v
